@import url(https://fonts.bunny.net/css?family=epilogue:400,800);

body {
    background: url('Colored Patterns.svg') center center/cover no-repeat;
    min-height: 100vh;
    margin: 0;
    font-family: 'epilogue';
    font-weight: 400;
}

.btn-primary {
    background-color: #ff3864;
    border-color: #ff3864;
    transition: all 1s;
}

.btn-primary:hover {
    background-color: #ff785a;
    border-color: #ff785a;
}